:root {
  --loader-bg:#000;
}

.overlay--1aTlbi {
  background-color:#000 !important;
}

body {
  background-image:url('https://i.pinimg.com/originals/78/53/6b/78536b285aab856cf01caaa48646b17d.jpg') !important;
}
